@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=News+Cycle);

.navbar {
  border-radius: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('confectionary.png');
}

.navbar-brand {
  color: #E3E85A;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

h1 {
  font-family: 'News Cycle', sans-serif;
}